body {
    &.modal-open {
        overflow: hidden;
    }
}

.container {
    height: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    position: relative;
    z-index: -1;
}
  
#canvas-container {
    top: 0;
    left: 0;
    height: 100vh;
    //max-width: 100vw;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(236, 231, 225, 0.771);
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    backdrop-filter: blur(8px);

    .modal-content {
        display: grid;
        grid-template-columns: 7fr 5fr;
        margin-top: 60px;
        gap: 4rem;
        height: 100%;
        overflow: auto;
        padding: 6rem;

        img,
        video {
            width: 100%;
            height: auto;
            border-radius: 10px;
            transition: transform 0.3s ease-in-out;
        }

        .text-content {
            color: rgb(0, 0, 0);
            overflow: auto;

            h2 {
                color: #000000;
                margin-top: 0;
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 5px;
                padding: 0;
                line-height: 1.3;
                vertical-align: top;
            }

            h3 {
                color: #000000;
                margin-top: 0;
                font-size: 20px;
                font-weight: 600;
                font-style: italic;
                margin-bottom: 10px;
                padding: 0;
                line-height: 1.8;
                vertical-align: top;
            }

            p {
                font-weight: 400;
                color: #000000;
                font-size: 1.1em;
                line-height: 1.58;
                margin-top: 15px;
            }
        }
    }

    .close-button {
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 50px;
        color: #333333;
        padding: 10px;

        &:hover {
            color: #787878;
        }
    }
}

/* Media Query para pantallas de ancho máximo 900px */
@media (max-width: 900px) {
    .modal{
    .modal-content {
        grid-template-columns: 1fr; /* Single column layout */
        padding: 2rem; /* Adjust padding if needed */
        gap: 2rem; /* Adjust gap if needed */
    }}
    }

