@charset "UTF-8";
body.modal-open {
  overflow: hidden;
}

.container {
  /*padding-top: 5rem; Altura del encabezado */
  height: 100vh;
  max-width: 100vw; /* Ancho máximo igual al viewport */
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
  position: relative;
  z-index: -1;
}

#canvas-container {
  top: 0;
  left: 0;
  /*width: 100%;*/
  height: 100%; /* Ocupa toda la altura del viewport */
  /*margin: 0 auto; /* Centra horizontalmente */
  /*max-height: calc(100vh - 80px - 80px);*/
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 231, 225, 0.771);
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px); /* Aplica el efecto de desenfoque al fondo */
  /* Media Query para pantallas de ancho máximo 900px */
}
.modal .modal-content {
  display: grid;
  grid-template-columns: 7fr 5fr;
  margin-top: 60px;
  gap: 4rem;
  height: 100%;
  overflow: auto;
  padding: 6rem;
}
.modal .modal-content img,
.modal .modal-content video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* Añade una transición suave */
}
.modal .close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 50px;
  color: #333333;
  padding: 10px;
}
.modal .close-button:hover {
  color: #787878;
}
.modal .text-content {
  color: rgb(0, 0, 0);
  overflow: auto;
}
.modal .text-content h2 {
  color: #000000; /* Cambia el color del texto */
  margin-top: 0;
  font-size: 30px; /* Cambia el tamaño del texto */
  font-weight: bold; /* Cambia el peso de la fuente */
  margin-bottom: 5px; /* Agrega un margen inferior */
  padding: 0;
  line-height: 1.3; /* Ajusta la altura de línea para que sea más compacta */
  vertical-align: top;
}
.modal .text-content h3 {
  color: #000000; /* Cambia el color del texto */
  margin-top: 0;
  font-size: 20px; /* Cambia el tamaño del texto */
  font-weight: 600; /* Cambia el peso de la fuente */
  font-style: italic;
  margin-bottom: 10px; /* Agrega un margen inferior */
  padding: 0;
  line-height: 1.8; /* Ajusta la altura de línea para que sea más compacta */
  vertical-align: top;
}
.modal .text-content p {
  font-weight: 400;
  color: #000000;
  font-size: 1.1em;
  line-height: 1.58;
  margin-top: 15px;
}
@media (max-width: 900px) {
  .modal .modal-content {
    margin-top: 70px;
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 2rem; /* Ajusta el gap si es necesario */
  }
  .modal .modal-content img,
  .modal .modal-content video {
    width: 100%;
    height: auto;
  }
  .modal .text-content h2 {
    font-size: 1.5em; /* Ajusta el tamaño del texto si es necesario */
  }
  .modal .text-content p {
    font-size: 1em; /* Ajusta el tamaño del texto si es necesario */
  }
}

.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30 0;
  height: 3rem;
  background-color: #333;
}/*# sourceMappingURL=canvas.css.map */