@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #fbf9f9;
  min-height: 100vh;
  font-family: "open sans", sans-serif;
}
body.secondary-page {
  background-image: url("../assets/fondopro.png"); /* Cambia esto a la ruta de tu imagen */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.7);
}

header {
  position: fixed;
  width: 100%;
  height: 5rem;
  background: rgba(254, 254, 254, 0.062745098);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 70px;
  z-index: 0; /* Para asegurar que esté encima del contenido */
}

.logo {
  font-size: 1.5em;
  font-weight: 700;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}
.logo a {
  color: inherit;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}
.nav-bar ul li a {
  display: block;
  white-space: nowrap;
  color: rgb(80, 80, 80);
  font-size: 1.1em;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 50px;
  transition: 0.2s, font-weight 0.3s;
  margin: 0 5px;
}
.nav-bar ul li a:hover {
  color: black;
  transform: scale(1.05); /* Aumenta ligeramente la escala */
}
.nav-bar ul li a.active {
  color: black;
  transform: scale(1.05);
  transition: 0.2s;
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
    transition: 0.2s;
    position: fixed;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 6px 0px;
  }
  .nav-bar {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: rgb(241, 241, 241);
    transition: opacity 0.2s;
    opacity: 0;
    overflow: hidden;
    overflow-y: auto;
  }
  .nav-bar ul {
    display: none; /* Oculta la lista por defecto */
    width: -moz-fit-content;
    width: fit-content;
    margin: 30px auto 40px 10px;
    text-align: left;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
    color: rgb(107, 107, 107);
    font-size: 1.2em;
    font-weight: 600;
  }
  .nav-bar ul li a.active {
    color: black;
    transform: none;
    transition: 0.2s;
    font-weight: 700;
  }
  .nav-bar.active {
    opacity: 1;
  }
  .nav-bar.active ul {
    display: block; /* Muestra la lista cuando está activo */
  }
}
/* Secondary page header styles */
.secondary-header {
  background: rgb(245, 241, 241);
}
.secondary-header .logo, .secondary-header .logo a {
  color: rgb(0, 0, 0);
}
.secondary-header .nav-bar ul li a {
  color: rgb(90, 90, 90);
}
.secondary-header .nav-bar ul li a:hover {
  color: rgb(106, 186, 181);
  transform: scale(1.05);
}
.secondary-header .nav-bar ul li a.active {
  color: rgb(0, 0, 0);
  transform: scale(1.05);
}
.secondary-header .hamburger .line {
  background: rgb(62, 62, 62);
}
@media only screen and (max-width: 900px) {
  .secondary-header .nav-bar {
    background: rgb(245, 241, 241);
  }
  .secondary-header .nav-bar ul li a {
    color: rgb(62, 62, 62);
  }
  .secondary-header .nav-bar.active {
    color: rgb(0, 0, 0);
  }
}

body.modal-open {
  overflow: hidden;
}

.container {
  /*padding-top: 5rem; Altura del encabezado */
  height: 100vh;
  max-width: 100vw; /* Ancho máximo igual al viewport */
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
  position: relative;
  z-index: -1;
}

#canvas-container {
  top: 0;
  left: 0;
  /*width: 100%;*/
  height: 100%; /* Ocupa toda la altura del viewport */
  /*margin: 0 auto; /* Centra horizontalmente */
  /*max-height: calc(100vh - 80px - 80px);*/
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 231, 225, 0.771);
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px); /* Aplica el efecto de desenfoque al fondo */
  /* Carousel styles */
  /* Media Query para pantallas de ancho máximo 900px */
}
.modal .modal-content {
  display: grid;
  grid-template-columns: 7fr 5fr;
  margin-top: 60px;
  gap: 4rem;
  height: 100%;
  overflow: auto;
  padding: 6rem;
}
.modal .modal-content img,
.modal .modal-content video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* Añade una transición suave */
}
.modal .close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 50px;
  color: #333333;
  padding: 10px;
}
.modal .close-button:hover {
  color: #787878;
}
.modal .text-content {
  color: rgb(0, 0, 0);
  overflow: auto;
}
.modal .text-content h2 {
  color: #000000; /* Cambia el color del texto */
  margin-top: 0;
  font-size: 30px; /* Cambia el tamaño del texto */
  font-weight: bold; /* Cambia el peso de la fuente */
  margin-bottom: 5px; /* Agrega un margen inferior */
  padding: 0;
  line-height: 1.3; /* Ajusta la altura de línea para que sea más compacta */
  vertical-align: top;
}
.modal .text-content h3 {
  color: #000000; /* Cambia el color del texto */
  margin-top: 0;
  font-size: 20px; /* Cambia el tamaño del texto */
  font-weight: 600; /* Cambia el peso de la fuente */
  font-style: italic;
  margin-bottom: 10px; /* Agrega un margen inferior */
  padding: 0;
  line-height: 1.8; /* Ajusta la altura de línea para que sea más compacta */
  vertical-align: top;
}
.modal .text-content p {
  font-weight: 400;
  color: #000000;
  font-size: 1.1em;
  line-height: 1.58;
  margin-top: 15px;
}
.modal .carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.modal .carousel .carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}
.modal .carousel .carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.modal .carousel .carousel-indicators .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.modal .carousel .carousel-indicators .dot.active {
  background-color: #717171;
}
@media (max-width: 900px) {
  .modal .modal-content {
    margin-top: 70px;
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 2rem; /* Ajusta el gap si es necesario */
  }
  .modal .modal-content img,
  .modal .modal-content video {
    width: 100%;
    height: auto;
  }
  .modal .text-content h2 {
    font-size: 1.5em; /* Ajusta el tamaño del texto si es necesario */
  }
  .modal .text-content p {
    font-size: 1em; /* Ajusta el tamaño del texto si es necesario */
  }
}

.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30 0;
  height: 3rem;
  background-color: #333;
}

.equipo {
  padding: 8rem 10rem;
  padding-bottom: 1rem;
}

.creditos {
  padding: 2rem 10rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  -moz-column-gap: 10%;
       column-gap: 10%;
  row-gap: 4rem;
  justify-content: center;
}

.persona {
  display: grid;
  grid-template-columns: 2fr 3fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.cargo h4 {
  margin: 0;
  font-size: 18px;
  font-style: italic;
  color: #333;
}

.info-persona {
  display: grid;
  grid-template-rows: auto auto;
}
.info-persona h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}
.info-persona ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.info-persona ul li {
  margin: 5px 0;
}

@media (max-width: 900px) {
  .equipo {
    padding: 7rem 2rem;
    padding-bottom: 1rem;
  }
  .equipo h1 {
    font-size: 25px;
  }
  .creditos {
    padding: 2rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .persona {
    display: grid;
    grid-template-columns: 2fr 3fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.sobre {
  padding: 10rem 6rem;
  justify-content: center;
  margin: 0 6rem;
}
.sobre h2 {
  padding-bottom: 1rem;
}
.sobre p {
  font-size: 1.2em;
  line-height: 1.65em;
}

@media only screen and (max-width: 900px) {
  .sobre {
    padding: 8rem 3rem; /* Ajusta el padding horizontal para centrar */
    margin: 0; /* Elimina el margen horizontal para centrar completamente */
  }
  .sobre h2 {
    padding-bottom: 1.2rem;
  }
  .sobre p {
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */